/*
    Document   : styles.css
    Created on : 2017-01-14 08:00 PM
    Author     : lyoder
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500|Libre+Franklin:100,200,300,400,500");
@media only screen and (min-width: 320px) {
  a {
    background-color: #FE014A;
    width: 138px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 1.29em;
    line-height: 21px;
    color: #C7C7C7;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .about {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about #intro {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    margin-top: 33px;
  }

  .about img {
    display: none;
  }

  body {
    font-size: 62.5%;
    width: 100%;
    background-color: #000000;
    color: #C7C7C7;
    margin: 0;
  }

  .details {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .details li {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 30px;
  }

  h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 3.2em;
    text-align: center;
    line-height: 39px;
    margin-top: 60px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 200;
    font-family: "Libre Franklin", sans-serif;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 50px;
  }

  .features li {
    list-style: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .features img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }

  .features ul {
    padding-left: 0;
  }

  footer .final {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  footer img {
    margin-top: 85px;
    width: 80% px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  footer .final p {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  footer .copyright {
    background-color: #303030;
    width: 100%;
    text-align: center;
    margin-top: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer .copyright p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    font-size: 2.6em;
    color: #ffffff;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    margin: 0;
    margin-top: 2px;
  }

  header p {
    font-size: 1.7em;
    color: #ffffff;
    line-height: 5px;
    text-align: center;
    font-family: "Alegreya Sans SC", sans-serif;
    margin-top: 11px;
    margin-bottom: 11px;
    font-weight: 200;
  }

  header {
    background-image: url("images/head-lanterns.png");
    display: flex;
    background-repeat: no-repeat;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .main p {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 20px;
    margin-top: 20px;
  }

  .main .food {
    display: none;
  }

  .main .tablet {
    display: none;
  }

  .main .hd {
    display: none;
  }

  .main .desktop-hd {
    display: none;
  }

  .tablet {
    display: none;
  }

  .title-box {
    width: 189px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 33.5px;
    margin-bottom: 33.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2px;
  }
}
@media only screen and (min-width: 760px) {
  a {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .about {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    width: 90%;
  }

  .about #intro {
    font-weight: 200;
    margin-top: 0;
  }

  .about img {
    display: block;
    width: 340px;
  }

  .about .lantern {
    width: 48%;
  }

  .about .experience {
    width: 48%;
  }

  .details {
    width: 90%;
  }

  .details li {
    font-weight: 200;
  }

  .details a {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 3.6em;
    margin-top: 38px;
    margin-bottom: -10px;
  }

  .features li {
    width: 38%;
  }

  .features ul {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  header h1 {
    font-size: 4.6em;
    line-height: 40px;
  }

  header p {
    font-size: 2.4em;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 11px;
  }

  header {
    background-image: url("images/head-lanterns-tablet.png");
    width: 760px;
  }

  main {
    width: 760px;
  }

  .main p {
    line-height: 18px;
    margin-top: 20px;
  }

  .main .food {
    display: block;
  }

  .main .phone {
    display: none;
  }

  .main .tablet {
    display: block;
  }

  .main .desktop {
    display: none;
  }

  .title-box {
    width: 364px;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    width: 80%;
  }

  .about img {
    width: 465px;
  }

  .about .lantern {
    width: 48%;
  }

  .about .experience {
    width: 48%;
  }

  .details {
    width: 70%;
  }

  .details li {
    font-weight: 200;
  }

  .details a {
    margin-bottom: 50px;
  }

  h2 {
    margin-top: 50px;
  }

  .features ul {
    flex-flow: nowrap;
    width: 98%;
  }

  .features li {
    width: 24%;
  }

  .features h2 {
    margin-top: 0;
  }

  .features li {
    width: 22%;
  }

  header h1 {
    font-size: 6.4em;
    line-height: 55px;
  }

  header p {
    font-size: 3.6em;
    margin-top: 33px;
    margin-bottom: 25px;
    line-height: 3px;
  }

  header {
    background-image: url("images/head-lanterns-desktop.png");
    width: 1200px;
  }

  main {
    width: 1200px;
  }

  .main p {
    margin-top: 20px;
  }

  .main .tablet-lantern {
    display: none;
  }

  .main .desktop {
    display: block;
  }

  .title-box {
    width: 583px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 101px;
    margin-top: 101px;
  }
}
@media only screen and (min-width: 2500px) {
  .about a {
    margin-top: 160px;
  }

  .about {
    width: 58%;
  }

  .about img {
    width: 700px;
  }

  .details {
    width: 60%;
  }

  h2 {
    margin-top: 90px;
    margin-bottom: 25px;
  }

  .features ul {
    flex-flow: nowrap;
    width: 80%;
  }

  .features li {
    width: 22%;
  }

  header {
    background-image: url("images/lanterns-large.png");
    width: 2500px;
  }

  main {
    width: 2500px;
  }

  .main p {
    line-height: 24px;
  }

  .main .tablet {
    display: none;
  }

  .main .hd {
    display: block;
  }

  .main .desktop {
    display: none;
  }

  .title-box {
    width: 830px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 101px;
    margin-top: 101px;
  }
}

/*# sourceMappingURL=styles.css.map */
